@define-color base #191724;
@define-color surface #1f1d2e;
@define-color overlay #26233a;
@define-color muted #6e6a86;
@define-color subtle #908caa;
@define-color text #e0def4;
@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ebbcba;
@define-color pine #31748f;
@define-color iris #c4a7e7;
@define-color foam #9ccfd8;
@define-color highlight-low #21202e;
@define-color highlight-med #403d52;
@define-color highlight-high #524f67;


* {
    border: none;
    border-radius: 0;
    font-family: Overpass Nerd Font;
    font-weight: bold;
    font-size: 16px;
}

#custom-launcher {
    padding: 2px 12px 2px 12px;
    color: @base;
    min-width: 40px;
    background-color: @iris;

    border-radius: 10px 0px 0px 10px;
}

window#waybar {
    background-color: transparent;
}

window#waybar>box {
    border-radius: 10px;
    background-color: @highlight-high;
    margin: 12px 12px 12px 12px;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 2px 10px 2px 10px;
    background-color: @base;
    color: @text;
    margin: 0px;
}

#workspaces button:hover {
    color: @foam;
}

#workspaces button.focused {
    color: @gold;
}

#workspaces button.active {
    color: @gold;
}

#workspaces button.urgent {
    color: @love;
}

#wireplumber,
#memory,
#cpu,
#battery,
#tray,
#backlight {
    padding: 0px 9px;
}

#clock {
    background-color: @overlay;
}

#clock.clock {
    padding: 0px 10px 0px 0px;
    /* border-radius: 0px 5px 5px 0px; */
    /* background-color: @base */
}

#clock.date {
    padding: 0px 5px 0px 10px;
    /* border-radius: 5px 0px 0px 5px; */
    /* background-color: @base */
}

#tray {
    -gtk-icon-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    background-color: @muted;
}

#wireplumber {
    /* position: absolute; */
    /* right: 10px; */
    background-color: @gold;
    color: @base;
}

#memory {
    background-color: @base;
}

#cpu {
    background-color: @muted;
}

#backlight {
    background-color: @overlay;
}

@keyframes blink {
    to {
        background-color: #a5aebb;
        color: #1f2329;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

tooltip {
    /* background: rgba(43, 48, 59, 0.5); */
    border: 1px solid rgba(100, 114, 125, 0.5);
    /* border-radius: 10px; */
}

tooltip label {
    padding: 5px;
    /* color: @text; */
}
