@import url("dark.css");

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 15px;
    min-height: 0px;
}

#custom-launcher {
    padding: 4px 17px 4px 20px;
    color: @base;
    background-color: @iris;
}

#custom-launcher:hover {
    color: @base;
    background-color: @foam;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

window#waybar>box {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: @base;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 5px;
    color: @text;
}

#workspaces button {
    padding: 0px 10px;
    background: transparent;
}

#workspaces button:hover {
    color: @text;
    background-color: @overlay;
}

#workspaces button.focused {
    color: @rose;
}

#workspaces button.active {
    background-color: @highlight-med;
    color: @text;
}

#workspaces button.urgent {
    color: @love;
}

#wireplumber,
#memory,
#cpu,
#battery,
#tray,
#custom-kbdlight,
#backlight {
    padding: 0px 10px;
}

#wireplumber:hover,
#memory:hover,
#cpu:hover,
#battery:hover,
#tray:hover,
#custom-kbdlight:hover,
#backlight:hover {
    background-color: @highlight-med;
}

#wireplumber,
#backlight,
#memory {
    background-color: @overlay;
}

@keyframes blink {
    to {
        background-color: #a5aebb;
        color: #1f2329;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

tooltip {
    /* background: rgba(43, 48, 59, 0.5); */
    border-style: solid;
    border-width: 2px;
    border-color: @highlight-high;
    border-radius: 5px;
    background-color: @overlay;
}

tooltip label {
    padding: 8px;
}

/* #clock.clock { */
/* [> border-right: 2px solid rgba(0,0,0,0.7); <] */
/* padding: 0px 10px 0px 0px; */
/* } */

/* #clock.date { */
/* [> border-left: 2px solid rgba(0,0,0,0.7); <] */
/* padding: 0px 5px 0px 10px; */
/* [> background-color: @base <] */
/* } */

#custom-weather,
#clock {
    padding: 0 10px;
}

#custom-weather:hover,
#clock:hover {
    background-color: @overlay;
}
